.modal {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.8);
}

.modalContent {
  width: 80%;
  height: 85%;
  display: flex;
  background-color: white;
}

.modalLeft {
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: black;
  color: white;
}

.modalRight {
  height: 50%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: black;
}

.modalTitle {
  font-family: "Montserrat";
}

input:focus ~ .floating_label,
input:not(:focus):valid ~ .floating_label {
  top: 8px;
  bottom: 10px;
  left: 20px;
  font-size: 11px;
  opacity: 1;
}

.inputText {
  font-size: 14px;
  width: 200px;
  height: 35px;
  border-bottom: 1.5px solid gray;
  outline: none;
}

.floating_label {
  position: absolute;
  pointer-events: none;
  left: 20px;
  top: 18px;
  transition: 0.2s ease all;
}
