.bestSeller {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-gap: 3rem;
  width: 76rem;
  margin: 0 0 0 4rem;
  height: 20rem;
}

.bestSellerDesc {
  color: white;
  padding: 1.6rem 2rem 3rem 2rem;
  height: 9rem;
}
.filter {
  /* margin: 3rem 0 0 0; */
  margin: 0 auto 1rem auto;
  padding: 0.5rem 0 0 0.5rem;
}


@media (min-width:100px) and (max-width: 640px){
 .bestSeller{
    height: 100%;
    grid-template-columns: 1fr;
    margin: 0;
    width: 22.2rem;
  }
  .newProducts{
    grid-template-columns: 1fr;
  }
  .filter{
    width: 12rem;
  }
  .homeAppliance{
    grid-template-columns: 1fr;
    margin: 0;
  }

}
@media (min-width:645px) and (max-width:1024px){
.bestSeller{
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  width: 45rem;
  margin: 0;
  height: 100%;
}
.newProducts{
  grid-template-columns: repeat(3, minmax(0, 1fr));
  margin: 0;
  width: 100%;
}
.filter{
  width: 12rem;
  margin: 0 0 1.5rem 3rem;
}
.homeAppliance{
  grid-template-columns: repeat(3, minmax(0, 1fr));
  margin: 0;
}
}