.bestSeller {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-gap: 3rem;
  width: 76rem;
  margin: 0 0 0 4rem;
  height: 20rem;
}
.bestSellerDesc {
  color: white;
  padding: 1.6rem 2rem 3rem 2rem;
  height: 9rem;
}
.filter {
  width: 80%;
  /* margin: 3rem 0 0 0; */
  margin: 0 auto 1rem auto;
  padding: 0.5rem 0 0 0.5rem;
}
