
.home{
  background: rgba(0,0,0,.7);
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.7)),url("/img/headsets.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}