/* Why Us */
.WhyUs__item {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
  width: 25%;
}

.WhyUs__item__borderLeft {
  border-left: 3px solid white;
}

.WhyUs__item img {
  width: 5rem;
}
/* end of Why Us */
